@charset "UTF-8";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Quando';
    margin: 0;
    background-image: url("morocco-blue.png");
}

.orange-background {
	background-color: #f0e0d1 !important;
}

#nav {
	background-color: #f0e0d1 !important;
}

#carousel-container {
	margin-top: 30px;
	padding-top: 12px;
	background-color: #f0e0d1;
	border: 2px solid #f0e0d1;
    border-radius: 10px 10px 0 0;
}

.carousel-inner img {
	cursor: pointer;
}

#foodtype-selector-container, #food-selector-container {
	margin-top: 30px;
	padding-top: 12px;
	background-color: #f0e0d1;
	border: 2px solid #f0e0d1;
    border-radius: 10px;
}

.card {
	border: none;
}

#foodtype-holder, #food-holder {
	padding-left: 0;
	padding-right: 0;
}

#foodtype-selector-container > .row>div {
	margin-bottom: 5px;
}

.food-type {
	margin-bottom: 0px;
}

.card-body {
	background-color: #f0e0d1;
}

#foodtype-selector-container > h5, h6 {
	text-align: center;
}

#food-selector-container > h5, h6 {
	text-align: center;
}

#food-selector-container >div>button {
	margin-bottom: 12px;
	
}

#food-selector-container img {
    transition: all .2s ease-in-out;
}

#food-selector-container img:hover {
	cursor: pointer;
    transform: scale(1.07);
    border-radius: 4px;
}

.card-body > h6 > a {
	color: black;
	text-decoration: none;
}

.card-body > h6 > a:hover {
	color: #735914;
	text-decoration: underline;
	text-decoration-style: dotted;
}

#food-selector-container h6:hover {
	cursor: pointer;
	color: #735914;
	text-decoration: underline;
	text-decoration-style: dotted;
}

#foodtype-selector-container img {
    transition: all .2s ease-in-out;
}

#foodtype-selector-container img:hover {
    transform: scale(1.07);
    border-radius: 4px;
}

.main-title {
	font-family: 'Lemon';
}

#content-above-footer {
    flex: 1 0 auto;
}

#chef-info {
	text-align: right;
	border: 2px solid #f0e0d1;
    border-radius: 0 0 10px 10px;
}

#chef {
	font-family: 'Caveat';
	font-size: x-large;
	margin-bottom: 0;
}

#footer {
	margin-top: 30px;
    flex-shrink: 0;
    text-align: center;
}

#footer p {
    margin: auto;
    padding: 5px 0 5px 0;
}

#footer > .container {
	border: 2px solid #f0e0d1;
    border-radius: 10px 10px 0 0;
}

.info {
	margin-top: 30px;
    padding: 20px 0 20px 0;
    text-align: center;
    border: 2px solid #f0e0d1;
    border-radius: 10px;
}

.main-center-login {
    margin: auto;
    max-width: 350px;
}

.alert {
	margin: 1rem auto;
	max-width: 350px;
}

hr.style1 {
	max-width: 720px;
	margin: 0 auto 1rem auto;
}

#login-alert > dl, ol, ul {
	margin: 0;
}

#data-modification-error-alert > dl, ol, ul {
	margin: 0;
}

#password-error-alert > dl, ol, ul {
	margin: 0;
}

#add-to-cart-error-alert > div > p {
	margin-bottom: 0;
}

#personal-data-modification-alert > p {
	margin: 0;
}

#password-modification-alert > p {
	margin: 0;
}

#carouselFoodIndicators {
	max-width: 70%;
	margin: 1% auto 2% auto;
}

#carouselFoodIndicators .carousel-inner .carousel-item .carousel-caption {
	padding-top: 50px;
	bottom: 0;
	padding-bottom: 0.15rem;
}

#carouselFoodIndicators .carousel-inner .carousel-item .carousel-caption p {
	margin-left: auto;
	margin-right: auto;
	padding-left: 3px;
	padding-right: 3px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid transparent;
    border-radius: 10px;
    width: -moz-fit-content;
  	width: fit-content;
}

small {
	font-size: .775em;
}

.price-col {
	text-align: right;
	padding-right: 0;
}

#last-topping-row {
	padding-bottom: 1rem;
}