@charset "UTF-8";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Quando';
    margin: 0;
    background-image: url("morocco-blue.png");
}

.orange-background {
	background-color: #f0e0d1;
}

#nav {
	background-color: #f0e0d1 !important;
} 

#carousel-container {
	margin-top: 30px;
	padding-top: 12px;
	background-color: #f0e0d1;
	border: 2px solid #f0e0d1;
    border-radius: 10px 10px 0 0;
}

.main-title {
	font-family: 'Lemon';
}

#content-above-footer {
    flex: 1 0 auto;
}

#chef-info {
	text-align: right;
	border: 2px solid #f0e0d1;
    border-radius: 0 0 10px 10px;
}

#chef {
	font-family: 'Caveat';
	font-size: x-large;
	
}

#footer {
    flex-shrink: 0;
    text-align: center;
}

#footer p {
    margin: auto;
    padding: 5px 0 5px 0;
}

#footer > .container {
	border: 2px solid #f0e0d1;
    border-radius: 10px 10px 0 0;
}

#error_message {
	margin-top: 30px;
    padding: 20px 0 20px 0;
    text-align: center;
}
