@charset "UTF-8";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Quando';
    margin: 0;
    background-image: url("morocco-blue.png");
}

.orange-background{
	background-color: #f0e0d1;
}

.main-title {
	font-family: 'Lemon';
}

#content-above-footer {
    flex: 1 0 auto;
}

#chef-info {
	text-align: right;
}

#chef {
	font-family: 'Caveat';
	font-size: x-large;
	
}

#footer {
    flex-shrink: 0;
    text-align: center;
}

#footer p {
    margin: auto;
}

#error_message {
	margin-top: 30px;
    padding: 20px 0 20px 0;
    text-align: center;
}
