<!DOCTYPE html>
<html lang="en"
	layout:decorate="~{main}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Info | Round Food</title>
	</head>
	
	<body>			    	
		<div layout:fragment="content">
			<div class="container">
				<div class="orange-background info">
					<p>The project on GitHub:</p>
					<a class="btn btn-info" target="_blank" href="https://github.com/krisztianAlt/round-food" role="button"><i class="fab fa-github"></i> Go to repo</a>
			    </div>
			</div>
		</div>
	</body>
</html>