<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Error | Round Food</title>
	</head>
	
	<body>
				    	
		<div layout:fragment="content">
			<div class="container">
				<div class="orange-background info">
			        <p>Sorry, page not found!</p>
			        <p>What you were looking for is just not there.</p>
			        <button type="button" class="btn btn-primary" onclick="window.location.href='/';">Back to main page</button>
			    </div>
			</div>
		</div>
	
	</body>
</html>