<!doctype html>
<html 
	lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml">
	
	<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	
	    <title>Round Food</title>
	    
	    <!-- Import jQuery and Bootstrap -->
	    <script th:src="@{/jquery/jquery-3.5.1.min.js}" defer="defer"></script>
	    <script th:src="@{/bootstrap/bootstrap.min.js}" defer="defer"></script>
	    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.min.css}" />
	
		<!-- Import own CSS -->
	    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	
	</head>
	
	<body>
	
	    <p>Welcome!!</p>
	</body>
</html>