<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Login | Round Food</title>
	</head>
	
	<body>
				    	
		<div layout:fragment="content">
			<div class="container">
				<div class="orange-background info">
			        <p>Login</p>
			        
			        <div id="login-alert" class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#lists.size(errors)>0}">
			            <ul th:each="error : ${errors}">
			                <li th:text="${error}"></li>
			            </ul>
			            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			        </div>
			        
			        
			        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${savingsucceeded}">
			            <p><strong>Registration succeeded!</strong></p>
			            <p>If you want to order foods, please, log in. Then your cart will be active.</p>
			            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			        </div>
				 
			        
			        <div class="main-center-login">
			            <form action="/login" method="post">
				            <div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
								<input type="email" class="form-control" name="email" placeholder="Email address" aria-label="Email" aria-describedby="basic-addon1">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon2"><i class="fas fa-lock"></i></span>
								<input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
							</div>
							<button type="submit" class="btn btn-success">Enter to round dreams</button>
			            </form>
			        </div>
       				
       				<br>
       				<hr class="style1">
       				<p>If you have not registered yet, please, create your account:</p>
       				<a class="btn btn-primary" href="/registration" role="button">Registration</a>
        
			    </div>
			</div>
		</div>
	
	</body>
</html>