<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Ordering | Round Food</title>
	</head>
	
	<body>
				    	
		<div layout:fragment="content">
			<div class="container" id="ordering-holder">
				<div class="container-fluid" id="ordering-container">
					
					<h5>Ordering</h5>
					
					<div th:if="${empty != null}" class="d-flex justify-content-center">
						<p>Your cart is empty.</p>
					</div>
					
					<div th:if="${empty == null}">
						<div th:each="orderlineitem, iterStat : ${order.getOrderLineItems()}">
							<div class="order-item">
							
								<div class="row order-line-item-row">
									<div class="col-7 food-name-ordering-page" th:text="${orderlineitem.getFood().name}"></div>
									<div class="col-4 price-col" th:text="${#strings.substringBefore(orderlineitem.getFood().price, '.')}"></div>
									<div class="col-1">Ft</div>
								</div>
								
								<div th:if="${#lists.size(orderlineitem.getSelectedExtraToppings()) > 0}">
									<div class="row">
										<div class="col-6">Extra toppings, garnishment etc.:</div>
									</div>
									<div th:each="topping, iterStat : ${orderlineitem.getSelectedExtraToppings()}">
										<div class="row">
											<div class="col-1">
											</div>
											<div class="col-6" th:text="${topping.name}">
											</div>
											<div class="col-4 price-col" th:text="${#strings.substringBefore(topping.price, '.')}">
											</div>
											<div class="col-1">Ft</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-12 order-line-item-delete-button">
										<form action="/ordering/delete-item" method="post">
											<input name="orderId" type="hidden" th:value="${order.getId()}" th:style="${'visibility: hidden'}" />
	                                        <input name="orderLineItemiId" type="hidden" th:value="${orderlineitem.getId()}" th:style="${'visibility: hidden'}" />
	                                        <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete order item</button>
										</form>
									</div>
								</div>
								
								<hr class="style1">
							</div>
						</div>
						<div th:if="${order != null}" class="total-price">
							<div class="row ">
								<div class="col-7 total-price-ordering-page">Total price:
								</div>
								<div class="col-4 price-col" th:text="${#strings.substringBefore(totalPrice, '.')}">
								</div>
								<div class="col-1">Ft</div>
							</div>
						</div>
					</div>
						
					<div th:if="${empty == null}" class="order-buttons-container">
						<br>
						<hr class="style1">
						<div class="row">
							<div class="col-12 col-md-4 d-flex justify-content-center">
								<form action="/ordering/sending-order" method="post">
									<input name="orderId" type="hidden" th:value="${order.getId()}" th:style="${'visibility: hidden'}" />
									<button type="submit" id="order-sending-button" class="btn btn-success"><i class="fas fa-utensils"></i> Send order</button>
								</form>
							</div>
							<div class="col-12 col-md-4 d-flex justify-content-center">
								<button type="button" id="back-button-in-ordering-page" class="btn btn-primary" onclick="window.location.href='/';"><i class="fas fa-arrow-circle-left"></i> Back to main page</button>
							</div>
							<div class="col-12 col-md-4 d-flex justify-content-center">
								<form action="/ordering/delete-order" method="post">
									<input name="orderId" type="hidden" th:value="${order.getId()}" th:style="${'visibility: hidden'}" />
									<button type="submit" id="order-delete-button" class="btn btn-danger"><i class="fas fa-trash"></i> Delete order</button>
								</form>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	
	</body>
</html>