<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Ordering succeeded | Round Food</title>
	</head>
	
	<body>
				    	
		<div layout:fragment="content">
			<div class="container">
				<div class="orange-background info">
					<div id="viva">
						<p>Ordering succeeded!</p>
				        <p>Thank you for your confidence.</p>
				        <p><i class="fas fa-birthday-cake"></i> <i class="fas fa-pizza-slice"></i> Bon appetit! <i class="fas fa-utensils"></i> <i class="fas fa-wine-glass"></i></p>
					</div>
			        <button type="button" class="btn btn-primary" onclick="window.location.href='/';"><i class="fas fa-arrow-circle-left"></i> Back to main page</button>
			    </div>
			</div>
		</div>
	
	</body>
</html>