<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Main Page | Round Food</title>
	</head>
	
	<body>
				    	
		<div layout:fragment="content">
			<div class="container">
				<div class="orange-background info">
			        <p>Registration</p>
			        
			        <div id="login-alert" class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#lists.size(errors)>0}">
			            <ul th:each="error : ${errors}">
			                <li th:text="${error}"></li>
			            </ul>
			            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			        </div>
			        
			        <div class="main-center-login">
			            <form action="/registration" th:object="${customer}" method="post">
				 			
				            <div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
								<input type="text" class="form-control" th:field="*{firstName}" id="first-name" name="first-name" placeholder="First name" th:value="*{firstName}" aria-label="First name" aria-describedby="basic-addon1">
							</div>
							
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon2"><i class="fas fa-user"></i></span>
								<input type="text" class="form-control" th:field="*{lastName}" id="last-name" name="last-name" placeholder="Last name" th:value="*{lastName}" aria-label="Last name" aria-describedby="basic-addon2">
							</div>
							
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon3"><i class="fas fa-envelope"></i></span>
								<input type="email" class="form-control" th:field="*{email}" id="email" name="email" placeholder="Email address" th:value="*{email}" aria-label="Email" aria-describedby="basic-addon3">
							</div>
							
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon4"><i class="fas fa-phone"></i></span>
								<input type="tel" class="form-control" th:field="*{phoneNumber}" id="phone" name="phone" placeholder="Phone number" th:value="*{phoneNumber}" aria-label="Phone" aria-describedby="basic-addon4">
							</div>
							
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon5"><i class="fas fa-lock"></i></span>
								<input type="password" class="form-control" th:field="*{password}" id="password" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon5">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon6"><i class="fas fa-lock"></i></span>
								<input type="password" class="form-control" name="confirm" placeholder="Confirm password" aria-label="Confirm password" aria-describedby="basic-addon6">
							</div>
							<button type="submit" class="btn btn-primary">Create account</button>
			            </form>
			        </div>
        
			    </div>
			</div>
		</div>
	
	</body>
</html>